*{
    margin: 0;
    
    border: border-box;
    font-family: arial;
}
.navbar{
    background-color: rgb(31, 31, 31);
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    
}
.logo{
    
    background-image: url(lo.png) ;
    image-resolution: 200px;
    height: 50px;
    width: 100px;
    background-size: cover;
    
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
     /* box 2 */
 .add1{
    font-size: 0.75rem;
    color:#cccccc;
    margin-top: 8px;
    margin-left: 16px;
}
.add3{
    font-size: 1rem;
    font-weight:300 ;
    margin-left: 2px;
} 
.add2{
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.select{
    display: flex;
    align-items:center;
}
.select:hover{
    border: 2px solid  rgb(220, 132, 17);
}
.select-search{
    background-color: #f3f3f3;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width:55px;
    height:42px;
    color:rgb(96, 95, 89)
} 
.search{
   
    /* border:0.25px solid rgb(31, 31, 31);; */
    height:38px;
    width:600px;
    font-size: 16px;
}  
.icon{
    background-color: rgb(220, 132, 17);
    height:32px;
    width: 45px;
    text-align: center;
    font-size:23px;
    color: rgb(31, 31, 31);
    padding-top: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
    /* box4 */
span{
    font-size: 0.75rem;

    }
.bold{
    font-weight: 700;
}
       /* box 5 */

.cart i{
     font-size: 30px;
}  
.cart{
    font-size:0.95rem;
    font-weight: 700;
} 
    /* pannel */
.panel{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 40px;
    
    align-items: center;
}
.ops{
    display: flex;
    margin-left: 25px;
}
p{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}
.menu{
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}
    /* main part */
.hero-part{
    background-image: url(assets/hero-image.jpg);
    height: 300px;
    background-size: cover;
}

.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;

}
.bo{
    
    height: 400px;
    width: 23%;
    background-color: white;
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.img{
    height: 280px;
    background-size: cover;
    margin-top: 10px;

}
.content{
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 10px;
}
.bo p{
    margin-top: 1rem;
    color: #007185;
}
.bo p:hover{
    color: rgba(255, 72, 0, 0.718);
}
     /* footer */
footer{
    margin-top: 15px;
}
.p1{
    font-size: 0.85rem;
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p2{
    background-color: #222f3d;
    height: 380px;
    color:white;
    display: flex;
    
    justify-content: space-evenly;
}
ul a{
     display: block; 
    margin-top: 10px;
    color:#dddddd;
    font-size: 0.85rem;
}
.p2 p{
    font-weight: 800;
    margin-top: 50px;
    margin-left: -2px;
    
}
.pic{
    background-color:rgb(31, 31, 31);
    height: 100px;
    
    border-top: 0px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic1{
    background-image: url(lo.png);
    background-size:cover ;
    height: 70px;
    width: 150px;
}
.last{
    background-color:#131a22; 
    color: #dddddd;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    height: 75px;
    font-size: 12px;
    color: #dddddd;
}
.last a{
    
    padding-top: 40px;

}
.last p{
   padding-top: 10px;
   font-size: 12px;
}
